.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Oratorstd, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

p {
  margin-bottom: 10px;
  border: 1px none #000;
  font-family: Helvetica, sans-serif;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
}

.theletter {
  position: static;
  top: 0px;
  z-index: 1;
  margin-top: 3px;
}

.image {
  margin-top: 1px;
}

.list {
  position: fixed;
  margin-top: 74px;
  list-style-type: lower-roman;
}

.html-embed {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  margin-top: 145px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  opacity: 1;
}

.div-block {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 6%;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.nobikini {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100vh;
  opacity: 0.62;
}

.columns {
  position: static;
}

.div-block-2 {
  width: 300px;
  padding: 0px 10px 0px 0px;
}

.div-block-3 {
  width: 200px;
}

.div-block-4 {
  width: 300px;
  height: auto;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.columns-2 {
  position: relative;
  z-index: 2;
}

.image-2 {
  position: relative;
  z-index: 2;
}

.image-3 {
  position: static;
  z-index: 1;
}

.imgs {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  height: 400px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  opacity: 0.7;
}

.imgs.second {
  margin-top: 360px;
}

.div-block-8 {
  width: 300px;
  height: 300px;
  padding: 9px;
}

.image-4 {
  border-radius: 0px;
}

.image-10 {
  margin-bottom: 20px;
}

.image-10._2 {
  width: 100%;
  margin-bottom: 20px;
}

.image-10._1 {
  width: 100%;
}

.column-5 {
  display: block;
  height: Infinity%;
  padding-right: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-12 {
  position: static;
  height: 200px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/ref1.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-12._1 {
  height: 100%;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-bottom: 0px;
  background-image: none;
}

.div-block-12._1 {
  height: 100%;
  background-image: none;
}

.column-7 {
  display: block;
  padding-right: 0px;
  padding-left: 0px;
}

.column-wrap {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 2;
  display: block;
  overflow: scroll;
  width: 100%;
  height: 100vh;
  margin-top: -13px;
  opacity: 0.56;
}

.link-block-5 {
  display: inline-block;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.link-block-5._6 {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.link-block-5._6._7 {
  cursor: pointer;
}

.column-6 {
  display: block;
}

.columns-3 {
  display: block;
  height: 0px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image-11 {
  position: static;
  margin-bottom: 13px;
}

.image-12 {
  margin-bottom: 13px;
}

.image-13 {
  margin-bottom: 13px;
}

.image-14 {
  margin-bottom: 13px;
}

.image-15 {
  margin-bottom: 13px;
}

.image-16 {
  display: block;
  margin-bottom: 13px;
}

.image-17 {
  margin-bottom: 13px;
}

.image-18 {
  margin-bottom: 13px;
}

.image-19 {
  margin-bottom: 13px;
}

.image-20 {
  margin-bottom: 13px;
}

.section-2 {
  position: fixed;
  left: 0%;
  top: 30%;
  right: 0%;
  bottom: auto;
  z-index: 3;
  display: none;
  height: 300px;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-13 {
  height: auto;
}

.image-21 {
  margin-bottom: 25px;
}

.image-22 {
  margin-bottom: 20px;
}

.image-23 {
  margin-bottom: 20px;
}

.background-video {
  position: relative;
}

.section-3 {
  position: fixed;
  left: 0%;
  top: 21%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.56;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  max-width: 100%;
}

.div-block-14 {
  width: 200px;
  height: 200px;
}

.background-video-2 {
  height: 200px;
}

.iconswrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.iconsgrid {
  margin: 10px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.icon {
  background-image: url('../images/12.gif');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon._1 {
  margin: 31px;
}

.icon._2 {
  background-image: url('../images/9.gif'), url('../images/12.gif');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.icon._3 {
  background-image: url('../images/10.gif'), url('../images/12.gif');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.icon._4 {
  background-image: url('../images/11.gif'), url('../images/12.gif');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.icon._5 {
  background-image: url('../images/15.gif'), url('../images/12.gif');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.icon._6 {
  background-image: url('../images/16.gif'), url('../images/12.gif');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.icon._7 {
  background-image: url('../images/17.gif'), url('../images/12.gif');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.icon._8 {
  background-image: url('../images/5.gif'), url('../images/12.gif');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.icon._9 {
  background-image: url('../images/13.gif'), url('../images/12.gif');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.icon._10 {
  background-image: url('../images/20.gif'), url('../images/12.gif');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.allicons {
  position: static;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  cursor: auto;
}

.div-block-15 {
  background-image: url('../images/letter_2_adjusted.jpg'), url('../images/12.gif');
  background-position: 50% 50%, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.grid-2 {
  height: 200px;
  -webkit-align-content: end;
  -ms-flex-line-pack: end;
  align-content: end;
}

.div-block-16 {
  background-image: url('../images/20.gif');
  background-position: 0px 0px;
  background-size: auto;
}

.section-4 {
  background-image: url('../images/18.gif');
  background-position: 0px 0px;
  background-size: auto;
}

.grid-3 {
  height: 10%;
  margin: 16px 20px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  cursor: pointer;
}

.icon1 {
  width: 70%;
  height: 70%;
  border-radius: 50px;
  background-image: url('../images/19.gif');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(7px);
  filter: blur(7px);
  outline-color: #000;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  cursor: pointer;
}

.icon2 {
  width: 70%;
  height: 70%;
  border-radius: 50px;
  background-image: url('../images/20.gif');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(7px);
  filter: blur(7px);
  cursor: pointer;
}

.icon3 {
  width: 70%;
  height: 70%;
  border-radius: 50px;
  background-image: url('../images/17.gif');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(7px);
  filter: blur(7px);
  cursor: pointer;
}

.icon4 {
  width: 70%;
  height: 70%;
  border-radius: 50px;
  background-image: url('../images/18.gif');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(7px);
  filter: blur(7px);
  cursor: pointer;
}

.icon5 {
  width: 70%;
  height: 70%;
  border-radius: 50px;
  background-image: url('../images/12.gif');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(7px);
  filter: blur(7px);
  cursor: pointer;
}

.icon6 {
  width: 70%;
  height: 70%;
  border-radius: 50px;
  background-image: url('../images/11.gif');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(7px);
  filter: blur(7px);
  cursor: pointer;
}

.icon7 {
  width: 70%;
  height: 70%;
  border-radius: 50px;
  background-image: url('../images/14.gif');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(7px);
  filter: blur(7px);
}

.icon8 {
  width: 70%;
  height: 70%;
  border-radius: 50px;
  background-image: url('../images/16.gif');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(7px);
  filter: blur(7px);
  cursor: pointer;
}

.icon9 {
  width: 70%;
  height: 70%;
  border-radius: 50px;
  background-image: url('../images/15.gif');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(7px);
  filter: blur(7px);
  cursor: pointer;
}

.icon10 {
  width: 70%;
  height: 70%;
  border-radius: 50px;
  background-image: url('../images/13.gif');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(7px);
  filter: blur(7px);
  cursor: pointer;
}

.icon11 {
  width: 70%;
  height: 70%;
  border-radius: 50px;
  background-image: url('../images/10.gif');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(7px);
  filter: blur(7px);
  cursor: pointer;
}

.div-block-17 {
  position: absolute;
  width: 80vw;
  height: 10vh;
}

.projecttitle {
  position: absolute;
  left: 10%;
  top: 45%;
  right: auto;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  height: 10vh;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  outline-color: #333;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  text-decoration: none;
}

.projecttitle.differenttitle {
  top: 185%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.projecttitletext {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 4vw;
  line-height: 4vw;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
}

.projecttitletext:hover {
  text-decoration: none;
}

.body {
  background-color: #000;
}

.line {
  position: absolute;
  left: 35%;
  top: 49%;
  z-index: 4;
  width: 0vw;
  height: 10vh;
  border-top: 10px solid red;
  border-radius: 0px;
}

.draggable {
  position: absolute;
  left: 60%;
  top: 4%;
  z-index: 6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 20vw;
  height: 75vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-style: dotted none dotted dotted;
  border-width: 4px;
  border-color: #fff;
  border-radius: 20px;
  background-color: #2600ff;
  box-shadow: 1px 1px 20px 0 #fff;
}

.draggable.thefirstletter {
  left: 33%;
  top: 14%;
  overflow: auto;
  width: 40vw;
  height: 300px;
}

.draggable.projectstatementdiv {
  top: 110%;
  display: none;
  margin-bottom: 16px;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
  box-shadow: none;
  cursor: move;
}

.paragraph {
  height: auto;
  padding: 14px;
  border-style: none;
  border-width: 4px;
  border-color: #fff;
  border-radius: 0px;
  background-color: transparent;
  font-family: Helvetica, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  text-shadow: 1px 1px 3px #000;
  white-space: normal;
}

.fundedbydiv {
  position: relative;
  z-index: 7;
  height: 75%;
  margin-bottom: 20px;
  background-image: url('../images/SCI_Woordbeeld_EN_3_regels_RGB_White.gif');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-18 {
  margin-bottom: 20px;
  padding: 0px 16px 16px;
}

.heading {
  position: static;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 4vw;
  line-height: 4vw;
  font-weight: 900;
  text-align: center;
}

.heading:hover {
  color: #fff;
  text-decoration: none;
}

.text-span {
  color: #000;
}

.div-block-19 {
  position: relative;
  z-index: 1;
}

.div-block-20 {
  position: static;
  z-index: 4;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-22 {
  position: absolute;
  top: 50%;
  z-index: 5;
  width: 61%;
  height: auto;
  border-bottom: 1.2vh solid red;
}

.firstelements {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-style: none;
  border-width: 5px;
  border-color: #fff;
  border-radius: 20px;
}

.cross {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
  background-color: #fff;
  text-align: left;
  cursor: pointer;
}

.cross:active {
  overflow: visible;
}

.cross._2 {
  margin-top: 0px;
  margin-right: 3px;
  margin-bottom: 0px;
}

.image-24 {
  margin-top: 9px;
  margin-right: 9px;
  margin-bottom: 9px;
}

.rich-text-block {
  padding: 12px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  text-align: left;
  text-decoration: none;
}

.mosaic1 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/mosaic1.png');
  background-position: 50% 50%;
  background-size: contain;
}

.thefirstletter {
  position: absolute;
  left: 41%;
  top: 11%;
  z-index: 7;
  overflow: auto;
  width: 30vw;
  height: 50vh;
  border-radius: 0px;
  background-color: #fff;
  box-shadow: 4px 4px 13px 0 #000;
}

.thefirstletter.draggable {
  width: 30vw;
  cursor: -webkit-grab;
  cursor: grab;
}

.thefirstletter.draggable {
  top: 119%;
  display: none;
  width: 25vw;
  height: 60vh;
  margin-bottom: 16px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.thefirstletter.monica.draggable {
  display: none;
}

.page1 {
  margin-top: 14px;
  padding: 6px;
  border: 1px none #000;
  border-radius: 0px;
  outline-color: #333;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.page2 {
  padding: 6px;
}

.page3 {
  padding: 6px;
}

.button {
  margin-top: 10px;
  margin-bottom: 16px;
  background-color: #2600ff;
  box-shadow: 1px 1px 3px 0 #000;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-weight: 700;
}

.button:hover {
  background-color: #2400f1;
  box-shadow: 3px 3px 3px 1px #000;
}

.button:active {
  box-shadow: inset 2px 2px 3px 0 #000, 1px 1px 3px 0 #000;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sizeme {
  position: absolute;
  left: 76px;
  top: 125px;
  z-index: 10;
  overflow: hidden;
  width: 20px;
  height: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff));
  background-image: linear-gradient(180deg, #000, #fff);
}

.image-25 {
  margin-top: 11px;
  padding: 48px;
}

.dna-itself {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70vw;
  height: 80vh;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-27 {
  position: static;
  width: 50%;
  height: 50%;
}

.div-block-28 {
  width: 50%;
  height: 50vh;
}

.div-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-30 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-31 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-33 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-34 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-35 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-36 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-37 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-38 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-39 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-40 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.dna-streng {
  width: 50%;
  height: 20%;
  border-right: 5px solid #000;
}

.dna-streng._2 {
  height: 10%;
  border-right-color: #fff;
}

.dna-streng._1 {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right-color: #fff;
  border-radius: 0%;
}

.dna-streng._4 {
  height: 25%;
  border-right-color: #fff;
}

.dna-streng._5 {
  height: 35%;
  border-right-color: #fff;
}

.dna-streng._6 {
  height: 45%;
  border-right-color: #fff;
}

.dna-streng._7 {
  height: 55%;
  border-right-color: #fff;
}

.dna {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-radius: 300%;
}

.dna.up {
  cursor: pointer;
}

.dna.up.projectstatement {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.dna.below {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  cursor: pointer;
}

.dna._3 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dna._3.secondvideo {
  cursor: pointer;
}

.dna._3.ourconversation {
  cursor: pointer;
}

.image-26 {
  border-radius: 100%;
}

.image-27 {
  border-radius: 100%;
}

.image-28 {
  border-radius: 100%;
}

.image-29 {
  border-radius: 100%;
}

.image-30 {
  border-radius: 100%;
}

.image-31 {
  border-radius: 100%;
}

.image-32 {
  border-radius: 100%;
}

.image-33 {
  border-radius: 100%;
}

.image-34 {
  border-radius: 100%;
}

.image-35 {
  border-radius: 100%;
}

.image-36 {
  border-radius: 100%;
}

.image-37 {
  border-radius: 100%;
}

.image-38 {
  border-radius: 100%;
}

.image-39 {
  border-radius: 100%;
}

.image-40 {
  border-radius: 100%;
}

.image-41 {
  border-radius: 100%;
}

.image-42 {
  border-radius: 100%;
}

.image-43 {
  border-radius: 100%;
}

.image-44 {
  border-radius: 100%;
}

.image-45 {
  border-radius: 100%;
}

.image-46 {
  border-radius: 100%;
}

.image-47 {
  border-radius: 100%;
}

.body-2 {
  background-color: #000;
}

.dnawrapper {
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mosaic-image {
  overflow: visible;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/01_Composite_Website.jpg');
  background-position: 50% 50%;
  background-size: cover;
  -o-object-fit: fill;
  object-fit: fill;
}

.flickerdiv {
  position: absolute;
  left: 34%;
  top: 48%;
  right: 0px;
  bottom: 0%;
  width: 40px;
  height: 40px;
  background-color: #000;
}

.flickerdiv._2 {
  top: 70%;
  width: 30px;
  height: 30px;
}

.flickerdiv._3 {
  left: 82%;
  top: 50%;
}

.flickerdiv._4 {
  left: 12%;
}

.flickerdiv._5 {
  top: 90%;
}

.flickerdiv._6 {
  left: 90%;
  top: 70%;
  width: 80px;
  height: 80px;
}

.flickerdiv._7 {
  left: 5%;
  top: 75%;
}

.flickerdiv2 {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 30px;
  height: 80px;
  background-color: #000;
}

.flickerdiv2._2 {
  left: 30%;
}

.flickerdiv2._3 {
  left: 55%;
  top: 15%;
}

.flickerdiv2._4 {
  left: 70%;
  top: 25%;
}

.scrolldown {
  position: absolute;
  left: 48%;
  top: 58%;
  right: 42%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.scrolldown._2 {
  top: 188vh;
  display: none;
}

.text-block {
  font-family: Poppins, sans-serif;
  color: #fff;
  text-align: center;
}

.gif {
  position: relative;
  left: 20%;
  top: 20%;
  width: 40px;
  height: 40px;
  background-image: url('../images/25_GIF_MAIN.gif');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.gif._2 {
  left: 47%;
  top: 21%;
  width: 10px;
  height: 10px;
  background-image: url('../images/24_GIF_MAIN.gif');
}

.gif._3 {
  left: 12%;
  top: 72%;
  width: 20px;
  height: 40px;
  background-image: url('../images/20_GIF_MAIN.gif');
}

.gif._4 {
  left: 83%;
  background-image: url('../images/23_GIF_MAIN.gif');
}

.gif._5 {
  left: 76%;
  top: 18%;
  width: 10px;
  height: 15px;
  background-image: url('../images/22_GIF_MAIN.gif');
}

.gif._6 {
  left: 5%;
  top: 2%;
  width: 30px;
  height: 50px;
  background-image: url('../images/18_GIF_MAIN.gif');
}

.gif._7 {
  left: 47%;
  top: 28%;
  width: 20px;
  height: 20px;
  background-image: url('../images/21_GIF_MAIN.gif');
}

.gif._8 {
  left: 80%;
  top: 64%;
  width: 20px;
  height: 20px;
  background-image: url('../images/19_GIF_MAIN.gif');
}

.gif._9 {
  left: 30%;
  top: 49%;
  width: 30px;
  height: 30px;
  background-image: url('../images/11_GIF_MAIN.gif');
}

.gif._10 {
  width: 20px;
  background-image: url('../images/14_GIF_MAIN.gif');
}

.gif._11 {
  left: 12%;
  top: 29%;
  width: 10px;
  height: 10px;
  background-image: url('../images/09_GIF_MAIN.gif');
}

.gif._12 {
  left: 16%;
  top: -6%;
  width: 15px;
  height: 15px;
  background-image: url('../images/15_GIF_MAIN.gif');
}

.gif._13 {
  left: 84%;
  width: 10px;
  height: 15px;
  background-image: url('../images/15_GIF_MAIN.gif');
}

.gif._14 {
  left: 95%;
  width: 30px;
  height: 30px;
  background-image: url('../images/17_GIF_MAIN.gif');
}

.gif._15 {
  left: 63%;
  width: 25px;
  height: 25px;
  background-image: url('../images/13_GIF_MAIN.gif');
}

.gif._16 {
  left: 76%;
  top: -46%;
  width: 40px;
  height: 40px;
  background-image: url('../images/16_GIF_MAIN.gif');
}

.gif._17 {
  width: 10px;
  height: 10px;
  background-image: url('../images/12_GIF_MAIN.gif');
}

.gif._18 {
  left: 88%;
  width: 22px;
  height: 30px;
  background-image: url('../images/07_GIF_MAIN.gif');
}

.gif._19 {
  left: 40%;
  top: 42%;
  width: 30px;
  height: 30px;
  background-image: url('../images/06_GIF_MAIN.gif');
}

.gif._20 {
  top: -59%;
  width: 40px;
  height: 25px;
  background-image: url('../images/10_GIF_MAIN.gif');
}

.gif._21 {
  left: 97%;
  top: -55%;
  width: 30px;
  height: 50px;
  background-image: url('../images/05_GIF_MAIN.gif');
}

.gif._22 {
  top: 29%;
  width: 20px;
  background-image: url('../images/04_GIF_MAIN.gif');
}

.gif._23 {
  left: 46%;
  top: -57%;
  width: 30px;
  height: 30px;
  background-image: url('../images/08_GIF_MAIN.gif');
}

.gif._24 {
  left: 29%;
  width: 10px;
  height: 10px;
  background-image: url('../images/01_GIF_MAIN.gif');
}

.gif._25 {
  left: 64%;
  width: 5px;
  height: 5px;
  background-image: url('../images/02_GIF_MAIN.gif');
}

.gif._26 {
  left: 35%;
  top: -53%;
  width: 30px;
  height: 30px;
  background-image: url('../images/03_GIF_MAIN.gif');
}

.database-erased {
  display: block;
  overflow: scroll;
  width: 100vw;
  height: 0vh;
  background-color: #000;
}

.imagegrid {
  position: absolute;
}

.imagegrid.firstimagegrid {
  z-index: -1;
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/GAN_GRID_1.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat;
}

.div-block-41 {
  position: absolute;
}

.image-48 {
  padding: 48px;
}

.image-49 {
  padding: 48px;
}

.image-50 {
  padding: 48px 48px 0px;
}

.image-51 {
  padding: 0px 48px;
}

.image-52 {
  padding-right: 48px;
  padding-left: 48px;
}

.image-53 {
  padding-right: 48px;
  padding-left: 48px;
}

.image-54 {
  padding-right: 48px;
  padding-left: 48px;
}

.image-55 {
  padding-right: 48px;
  padding-bottom: 48px;
  padding-left: 48px;
}

.thesecondletter.draggable {
  top: 113%;
  display: none;
  width: 30vw;
  height: 70vh;
  border-style: none;
  border-radius: 0px;
  background-color: #fff;
  outline-color: #555;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.thethirdletter.draggable {
  left: 15%;
  top: 108%;
  display: none;
  width: 25vw;
  height: 60vh;
  border-style: none;
  border-top-width: 0px;
  border-radius: 0px;
  background-color: #fff;
  box-shadow: none;
  outline-color: #555;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.thethirdletter.draggable.thefourth {
  display: none;
}

.image-56 {
  padding-right: 48px;
  padding-left: 48px;
}

.image-57 {
  padding-right: 48px;
  padding-left: 48px;
}

.image-58 {
  padding-right: 48px;
  padding-left: 48px;
}

.image-59 {
  padding-right: 48px;
  padding-left: 48px;
}

.image-60 {
  padding-right: 48px;
  padding-left: 48px;
}

.image-61 {
  margin-left: 0px;
  padding-right: 48px;
  padding-left: 48px;
}

.image-62 {
  padding-right: 48px;
  padding-left: 48px;
}

.image-63 {
  padding-right: 48px;
  padding-left: 48px;
}

.image-64 {
  padding-right: 48px;
  padding-bottom: 48px;
  padding-left: 48px;
}

.differenttitles {
  position: absolute;
  left: 0%;
  top: 105vh;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.heading-2 {
  display: block;
  color: #fff;
}

.text-span-2 {
  font-family: Poppins, sans-serif;
}

.typer {
  border: 1px none #000;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 0px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.column-8 {
  display: block;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-9 {
  display: block;
}

.columns-4 {
  display: block;
  height: auto;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-42 {
  margin-top: 22px;
  margin-bottom: 60px;
  padding-top: 0px;
}

.heading-4 {
  position: fixed;
  left: 0%;
  top: 100vh;
  right: 0%;
  bottom: auto;
  z-index: 1;
  margin-top: 32px;
  font-family: Merriweather, serif;
  color: #fff;
  text-align: center;
}

.database-erased-title {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 2;
}

.heading-5 {
  font-family: Merriweather, serif;
  color: #fff;
  text-align: center;
}

.link-block-6 {
  cursor: pointer;
}

.heading-6 {
  margin-top: 0px;
  font-family: Poppins, sans-serif;
  color: red;
}

.div-block-43 {
  display: none;
}

.bgimg1 {
  position: absolute;
  z-index: -1;
  display: none;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/GAN_GRID_1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.62;
}

.bgimg2 {
  position: absolute;
  z-index: -1;
  display: none;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/GAN_GRID_2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.62;
}

.bgimg3 {
  position: absolute;
  z-index: -1;
  display: none;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/GAN_GRID_3.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.62;
}

.image-65 {
  padding-top: 48px;
  padding-right: 48px;
  padding-left: 48px;
}

.image-66 {
  padding-right: 48px;
  padding-left: 48px;
}

.image-67 {
  padding-right: 48px;
  padding-left: 48px;
}

.image-68 {
  padding-right: 48px;
  padding-left: 48px;
}

.image-69 {
  padding-right: 48px;
  padding-bottom: 48px;
  padding-left: 48px;
}

@media screen and (max-width: 991px) {
  .div-block-22 {
    left: 198.141px;
    top: 44%;
    border-bottom-width: 10px;
  }

  .div-block-42 {
    margin-bottom: 67px;
  }

  .heading-4 {
    margin-top: 49px;
  }
}

@media screen and (max-width: 767px) {
  .projecttitle {
    display: none;
  }

  .mosaic-image {
    display: none;
  }

  .div-block-42 {
    margin-bottom: 63px;
  }

  .heading-4 {
    font-size: 28px;
  }

  .link-block-6 {
    display: none;
  }

  .heading-7 {
    padding: 35px;
    border-radius: 100px;
    background-color: #000;
    font-family: Poppins, sans-serif;
    color: red;
    font-size: 26px;
  }

  .div-block-43 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url('../images/GAN_GRID_3.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .link {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .column-5 {
    position: relative;
    overflow: hidden;
    padding: 0px 8px;
  }

  .div-block-12._1 {
    height: auto;
  }

  .div-block-12._1 {
    height: auto;
  }

  .column-7 {
    overflow: hidden;
    padding-right: 0px;
    padding-left: 8px;
  }

  .column-wrap {
    position: static;
    overflow: hidden;
    height: auto;
    max-height: none;
  }

  .column-6 {
    overflow: hidden;
    padding-right: 0px;
    padding-left: 0px;
  }

  .columns-3 {
    position: static;
    display: block;
    overflow: hidden;
    height: auto;
    max-height: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .image-61 {
    padding-left: 48px;
  }

  .column-8 {
    position: relative;
    overflow: hidden;
    padding: 0px 8px;
  }

  .column-9 {
    overflow: hidden;
    padding-right: 0px;
    padding-left: 8px;
  }

  .column-wrap-2 {
    position: static;
    overflow: hidden;
    height: auto;
    max-height: none;
  }

  .columns-4 {
    position: static;
    display: block;
    overflow: hidden;
    height: auto;
    max-height: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .div-block-42 {
    position: static;
    margin-bottom: 65px;
  }

  .heading-4 {
    margin-top: 64px;
    font-size: 16px;
  }

  .heading-7 {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}

@font-face {
  font-family: 'Helvetica 587ebe5a59211';
  src: url('../fonts/helvetica-light-587ebe5a59211.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-BoldOblique.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Oblique.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins.ttf') format('truetype'), url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica compressed 5871d14b6903a';
  src: url('../fonts/helvetica-compressed-5871d14b6903a.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica rounded 5871d05ead8de';
  src: url('../fonts/helvetica-rounded-bold-5871d05ead8de.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oratorstd';
  src: url('../fonts/OratorStd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}